@keyframes aparece{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    width: 99%;
    max-width: 1150px;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgb(0,11,221);
    background: linear-gradient(295deg, rgba(0,11,221,1) 0%, rgba(56,157,175,1) 49%, rgba(16,97,255,1) 100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.titulos{
    color: black;
    text-shadow: white 2px 2px;
    width: 100%;
    text-align: center;
}
.titulos--datos{
    margin-bottom: 25px;
    color: white;
    text-shadow: 2px 2px rgb(101, 218, 253);
}
.menu{
    width: 30%;
}
.contenido{
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 700px;
    background: rgba(139, 99, 190, 0.452);
    background: linear-gradient(295deg, rgba(0,11,221,1) 0%, rgba(56,157,175,1) 49%, rgba(16,97,255,1) 100%); 
    padding: 30px 10px;
    box-sizing: border-box;
}
.contenido--datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.footer{
    background: rgb(0,11,221);
background: linear-gradient(295deg, rgba(0,11,221,1) 0%, rgba(56,157,175,1) 49%, rgba(16,97,255,1) 100%);
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    padding: 30px;
}
.liquidacion__tabla{
    margin: auto;
    width: auto;
    height: auto;
    background-color: white;
}
#tabla{
    th{
        border: 2px black solid;
        padding: 2px 25px;
        height: auto;
    }
}
.tituloTabla{
    background-color: black;
    color: white;
    font-size: 1.5em;
}
#liquidacion{
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    width: 98%;
    color: black;
    height: auto;
    min-height: 420px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    animation-name: aparece;
    animation-duration: 2s;
}
.cajaFormulario{
    display: flex;
    padding: 0px;
    justify-content: space-between;
}
.form{
    width: 60%;
    padding: 25px;
    margin: 50px auto;
    height: auto;
    min-height: 400px;
    animation-name: aparece;
    animation-duration: 1s;
    box-sizing: border-box;
    text-align: center;
    border: dashed 2px white;
    border-radius: 25%;
    h3{
        color: black;
        font-weight: 800;
        margin-bottom: 25px;
    }
    fieldset{
        width: 80%;
        background-color: rgba(255, 255, 255, 0.349);
        padding: 3px;
        margin: 7px auto;
        border-radius: 10%;
        text-align: center;
        input{
            font-weight: 800;
        }
        label{
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}
input{
    margin: 15px 5px;
}
.fecha{
    width: 45px;
}
.fechaDos{
    width: 60px;
}
.numeros{
    width: 120px;
}
.enfasis{
    font-weight: 800;
}
.btnDatos:hover{
    background-color: blue;
    color: white;
    transition: 1s;
}
#stasa{
    display: none;
}
#resultadoST{
    display: none;
}
#resultadoTasa{
    display: none;
}
#atencion{
    display: none;
}
.botonera{
    width: 96%;
    padding: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    button{
        padding: 10px;
        border-radius: 25%;
        border: solid 0.1px white;
        color: rgb(1, 18, 168);
        background-color: white;
        margin: 10px;
        font-weight: 700;
    }
    button:hover{
        background-color: rgb(71, 211, 247);
        transition: 2s;
    }
}
#fotoLiquidacion{
    opacity: 0.1;
    
}
#fechaInicio{
    display: none;
}
#fechaFinal{
    display: none;
}
#parametrosLiquidacion{
    display: none;
}
#punitorios{
    display: none;
}
#iva{
    display: none;
}
#tasa{
    display: none;
}
#btnEnviar{
    display: none;  
}
#btnLimpiar{
    display: none;

}
#tituloLiquidacion{
    display: none;
    color: white;
    font-weight: 800;
}
#tituloTasa{
    display: none;
    color: white;
    font-weight: 800;
}
.caja__presentacionDos{
    display: none;
}
#form{
    display: none;
    
}
#itemUno{
    display: none;
}
#itemDos{
    display: none;
}
#itemTres{
    display: none;
}
#itemCuatro{
    display: none;
}
#formCasos{
    text-align: center;
    background-color: rgba(5, 72, 173, 0.966);
    width: 40%;
    margin: auto;
    border-radius: 25%;
    display: none;
    position: fixed;
    z-index: 3;
    textarea{
        padding: 10px;
        max-width: 80%;
    }
    p{
        background-color: rgb(255, 255, 255);
        width: 30px;
        height: 30px;
        margin: auto;
        color: rgb(47, 94, 197);
        font-weight: 800;
        margin: 5px auto;
        border-radius: 50%;
        cursor: pointer;
    }
    #modificador{
        width: 85%;
        height: auto;
        padding: 5px;
        text-align: center;
        margin: auto;
        label{
            font-weight: 900;
            color: white;
            font-size: 1.7em;
        }
    }
    #selectorCasos{
        margin: 10px auto;
    }
    #selectorEstados{
        margin:10px auto;
    }
}
#btnEnviardatos{
    padding: 10px;
    border-radius: 25%;
    border: solid 0.1px white;
    color: rgb(1, 18, 168);
    background-color: white;
    margin: 10px;
    font-weight: 700;
}
#formAgrega{
    display: none;
    text-align: center;
    background-color: rgba(5, 72, 173, 0.966);
    width: 40%;
    margin: auto;
    border-radius: 25%;
    position: fixed;
    z-index: 2;
    textarea{
        padding: 10px;
        max-width: 80%;
    }
    p{
        background-color: white;
        width: 30px;
        height: 30px;
        margin: auto;
        color: rgb(47, 94, 197);
        font-weight: 800;
        margin: 5px auto;
        border-radius: 50%;
        cursor: pointer;
    }
    #agregador{
        width: 85%;
        height: auto;
        padding: 5px;
        text-align: center;
        margin: auto;
        label{
            font-weight: 900;
            color: white;
            font-size: 1.7em;
        }
    }
    #selectorGestor{
        margin: 10px auto;
    }
    #agregaEstado{
        margin:10px auto;
    }
}
#SelectorOrdena{
    display: block;
}
.menuTabla{
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
    justify-content: center; 
    width: 90%;
    padding: 10px; 
    border-radius: 15px;
    font-weight: 600;
    a{
        cursor: pointer;
        margin-right: 25px;
    }
}
#formularioDos{
    background-color: rgba(140, 0, 255, 0.116);
    input{
        border: solid 1px rgb(1, 8, 100);
        border-radius: 15%;
        padding: 2px;
        text-align: center;
    }
    .btnLiq{
        padding: 5px;
        border-radius: 15%;
        width: 80px;
        font-weight: 700;
        color: rgb(10, 80, 233);
    }
    .btnLiq:hover{
        box-shadow: yellow -2px 5px inset;
    }
}