@keyframes aparece{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    width: 99%;
    max-width: 1150px;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgb(205,0,0);
    background: linear-gradient(295deg, rgba(205,0,0,1) 0%, rgba(191,57,57,1) 49%, rgba(134,10,34,1) 100%);  
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
   
}
.titulos{
    color: black;
    text-shadow: white 2px 2px;
    width: 100%;
    text-align: center;
}
.titulos--datos{
    margin-bottom: 25px;
}
.menu{
    width: 45%;
}
.menuDerecha{
    width: 55%;
    text-align: center;
    padding-top: 15px;
    display: flex;
    label{
        color: white;
    }
}
.contenido{
    width: 100%;
    height: auto;
    min-height: 700px;
    background: rgb(205,0,0);
    background: linear-gradient(295deg, rgba(205,0,0,1) 0%, rgba(191,57,57,1) 49%, rgba(134,10,34,1) 100%);  
    padding: 0px 10px;
    box-sizing: border-box;
    .contenido__presentacion{
        width: auto;
        height: auto;
        padding: 30px;
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: aparece;
        animation-duration: 2s;
    }
    .contenido__mensaje{
        color: rgb(255, 255, 255);
        font-size: 2em;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: black 2px 2px;
        text-align: center;
        animation-name: colores;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}
.imprime{
    margin-top: 50px;
}
.liquidacion{
    animation-name: aparece;
    animation-duration: 1s;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 25px;
    
    text-align: center;
    box-sizing: border-box;
    .liquidacion__titulo{
        text-align: center;
        text-shadow: white 2px 2px;
    }
    .liquidacion__hoja{
        animation-name: aparece;
        animation-duration: 2s;
        background-image: url(../assets/cuadricula.jpg);
        box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.6);
        width: 90%;
        height: auto;
        min-height: 200px;
        margin: 20px auto;
        padding: 50px 20px;
        box-sizing: border-box;
        p{
            display: inline-block;
            margin: 5px 20px;
        }
        
    }
    .liquidacion__hoja--datos{
        width: 98%;
        padding: 50px 5px;
    }
    .liquidacion__boton{
        padding: 5px;
    }
    .liquidacion__boton:hover{
        background-color: rgba(27, 189, 230, 0.418);
        transition: 2s;
    }
    .liquidacion__subTitulos{
        list-style: none;
        font-weight: 800;
        text-align: center;
        display: block;
        li{
            list-style: none;
            text-align: center;
            font-weight: 600;
            margin: 10px 0px 10px -25px;
        }
    }
}
.liquidacion--datos{
    width: 98%;
}
.nota{
    margin-top: 50px;
    .nota__lista{
        list-style: none;
        font-weight: 600;
    }
}
.footer{
    background: rgb(205,0,0);
    background: linear-gradient(295deg, rgba(205,0,0,1) 0%, rgba(191,57,57,1) 49%, rgba(134,10,34,1) 100%);  
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    padding: 30px;
}
.prueba{
    width: 500px;
    height: 100px;
    background-color: red;
}
.submenu{
    width: 100%;
    height: auto;
}
#usuario{
    display: flex;
    list-style: none;
    padding-top: 10px;
    li{
        margin-right: 25px;   
        animation-name: aparece;     
        animation-duration: 2s;
        color: rgb(49, 255, 255);
        font-weight: 800;
    }
    img{
        width: 30px;
        height: 30px;
        padding: 3px;
        border-radius: 50%;
        background-color: rgb(49, 255, 255);
    }
}
#cambia{
    width: 100%;
    height: 300px;
    margin: auto;
    position: fixed;
    text-align: center;
}
.flotante{
    width: 35%;
    height: 300px;
    background-color: rgba(15, 94, 211, 0.925);
    box-shadow: 2px 4px 35px 30px rgba(0, 0, 0, 0.84) inset;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1em;
    border-radius: 10%;
    padding: 50px 15px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    animation-name: aparece;
    animation-duration:2s;
        span{
            text-decoration: underline;
        }
}
.cerrar{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    font-weight: 800;
    padding: 10px;
    border: 2px black;
    border-radius: 50%;
    background-color: rgba(15, 94, 211, 0.925);
    animation-name: aparece;
    animation-duration:2s;
}
.cerrar:hover{
    color: rgb(175, 14, 224);
    transition: 1s;
}
.liquidacion__tabla{
    margin: auto;
}
#tabla{
    th{
        border: 2px black solid;
        padding: 2px 15px;
    }
}
.tituloTabla{
    background-color: black;
    color: white;
    font-size: 1.5em;
}
.menu__datos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 98%;
    height: auto; 
    margin: auto;
    background-color: rgba(240, 255, 240, 0.452);
    padding: 10PX;
    animation-name: aparece;
    animation-duration: 1s;
    box-sizing: border-box;
}
.space{
    width: 10px;
}
#liquidacion{
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    width: 98%;
    color: black;
    height: auto;
    min-height: 420px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    animation-name: aparece;
    animation-duration: 2s;
}
.cajaFormulario{
    display: flex;
    padding: 0px;
    justify-content: space-between;
}
.form{
    width: 60%;
    padding: 25px;
    margin: 50px auto;
    height: auto;
    animation-name: aparece;
    animation-duration: 1s;
    box-sizing: border-box;
    text-align: center;
    border: dashed 2px white;
    border-radius: 25%;
    h3{
        color: black;
        font-weight: 800;
        margin-bottom: 25px;
    }
    
    fieldset{
        width: 80%;
        background-color: rgba(255, 255, 255, 0.219);
        padding: 5px;
        margin: 15px auto;
        border-radius: 15%;
        text-align: center;
        input{
            font-weight: 800;
        }
        label{
            font-weight: 700;
            font-size: 1.3em;
        }
    }
}
input{
    margin: 15px 5px;
}
.fecha{
    width: 35px;
}
.fechaDos{
    width: 60px;
}
.numeros{
    width: 120px;
}
.enfasis{
    font-weight: 800;
}
#btnNocturno{
    margin: 0px 15px 15px 85%;
    padding: 5px;
    background-color: blue; 
    color: rgb(177, 252, 239);
    font-weight: 800;
    padding: 5px 10px;
}
#btnDiurno{
    margin: 0px 15px 15px 85%;
    padding: 5px;
    display: none;
}
.btnDatos{
    padding: 5px 20px;
    background-color: rgb(142, 222, 224);
    color: rgb(6, 4, 105);
    font-weight: 800;
    border: solid 1px grey;
    box-shadow: 1px 0px 11px 1px rgba(0,0,0,1) inset;
    border-radius: 15%;
    width: 150px;
}
.btnDatos:hover{
    background-color: blue;
    color: white;
    transition: 1s;
}
.enlacesDiv{
    text-decoration: none;
}
.secciones{
    width: 330px;
    height: 330px;
    margin: 25px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        text-decoration: none;
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 5px;  
    }
}
.secciones:hover{
    box-shadow: 0px 0px 110px 11px rgba(19, 114, 238, 0.75) inset;
    transform: scale(1.1,1.1);
    transition: 1s;
}
.fotoLiq{
    background-image: url(../assets/calculadora.png);
    background-size: cover;
    width: 90%;
    height: 80%;
}
.fotoDat{
    background-image: url(../assets/base.png);
    background-size: cover;
    width: 90%;
    height: 80%;
}
#stasa{
    display: none;
}
#resultadoST{
    display: none;
}
#resultadoTasa{
    display: none;
}
#atencion{
    display: none;
}
.botonera{
    width: 96%;
    padding: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    button{
        padding: 10px;
        border-radius: 25%;
        border: solid 0.1px white;
        color: rgb(163, 21, 11);
        background-color: white;
        margin: 10px;
        font-weight: 700;
    }
}
#fotoLiquidacion{
    opacity: 0.1;
    
}
#fechaInicio{
    display: none;
}
#fechaFinal{
    display: none;
}
#parametrosLiquidacion{
    display: none;
}
#punitorios{
    display: none;
}
#iva{
    display: none;
}
#tasa{
    display: none;
}
#btnEnviar{
    display: none;
    padding: 10px;
    border-radius: 25%;
    border: solid 0.1px white;
    color: rgb(163, 21, 11);
    background-color: white;
    margin: 10px;
    font-weight: 700;
}
#tituloLiquidacion{
    display: none;
    color: white;
    font-weight: 800;
}
#tituloTasa{
    display: none;
    color: white;
    font-weight: 800;
}
.caja__presentacionDos{
    display: none;
}
#form{
    display: none;
    
}